version = 0.26.2
profile = ocamlformat

margin = 80
doc-comments = before
exp-grouping = preserve
type-decl = sparse
break-cases = all
break-collection-expressions = fit-or-vertical
break-fun-decl = fit-or-vertical
break-infix = fit-or-vertical
break-separators = before
wrap-comments = true
parse-docstrings = true
if-then-else = k-r
sequence-blank-line = preserve-one
field-space = tight-decl
